:root {
  --main-color: rgb(29, 40, 66);
  --main-color-light: rgb(244, 242, 253);
  --selected-color: rgb(232, 136, 109);
  --grey-color: rgb(200, 200, 200);
  --grey-lighter-color: rgb(223, 220, 220);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  background-color: var(--main-color-light);
  color: #0e1238;
}

header {
  margin: 0 50px 0px;
  text-align: center;
}

header h1 {
  padding: 30px 20px 20px;
  font-size: 24px;
}

.cards-view {
  margin: 0 50px 0px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.4s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

.card small {
  color: #303030;
}

.card p {
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.6;
  font-size: 14px;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: rotate(2deg) scale(1.05);
}

@media (min-width: 600px) {
  header h1 {
    max-width: 500px;
    margin: auto;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 912px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards-view {
    max-width: 1100px;
    margin: auto;
  }
}